<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customer Registration</title>
  <link rel="stylesheet" href="{% static 'css/carowners.css' %}">
</head>
<body>
  <div class="container">
    <h1>Customer Registration</h1>
    <form id="registrationForm" method="post" action="{% url 'carowner' %}">
      {% csrf_token %}

      <!-- Full Name -->
      <label for="id_username">Full Name:</label>
      <input type="text" id="id_fullname" name="fullname" placeholder="Enter your full name" value="{{ form.fullname.value|default_if_none:'' }}" required>
       <!-- Full Name -->

<label for="id_username">User Name:</label>
<input type="text" id="id_username" name="username" placeholder="Enter your full name" value="{{ form.username.value|default_if_none:'' }}" required>
      
<!-- Address -->
      <label for="id_address_line1">Address:</label>
      <textarea id="id_address_line1" name="address_line1" placeholder="Enter your address" rows="3" required>{{ form.address_line1.value|default_if_none:'' }}</textarea>

      <!-- Email Address -->
      <label for="id_email">Email Address:</label>
      <input type="email" id="id_email" name="email" placeholder="Enter your email address" value="{{ form.email.value|default_if_none:'' }}" required>

      <!-- Password Section -->
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="Create a password" required>


      <!-- Phone Number -->
      <label for="id_phone">Phone Number:</label>
      <input type="tel" id="id_phone" name="phone" placeholder="Enter your phone number" value="{{ form.phone.value|default_if_none:'' }}" required>

      
      <!-- Submit -->
      <button type="submit">Submit</button>
    </form>
  </div>
</body>
</html>
